/* My custom css */

.slide-fade-enter-active {
    transition: all 0.2s ease;
    transition-delay: 0.2s;
}
.slide-fade-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
    -webkit-transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
    -moz-transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
    -ms-transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
    -o-transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
    opacity: 0;
}

.router-link-exact-active {
    background: rgba(255, 255, 255, 0.192);
}

.router-link-active {
    background: rgba(255, 255, 255, 0.192);
}
